# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unify.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\Unify\.idea\.idea.Unify\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
